<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.peterchen82.mybatis.mapper.ArtcleMapper">

    <insert id="insertMany" parameterType="ArtcleEntity">
        INSERT INTO artcles(title,content,created) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
             (#{item.title}, #{item.content}, #{item.created})
        </foreach>
    </insert>

</mapper>